.Home{
    margin-right: 50px;
    color: red;
    font-size: 20px;
    transform: 0.5s;  
}
.Home:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.about{
    margin-right: 300px;
    font-size: 20px;
    color: red;
    transform: 0.5s;
}
.about:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.signin{
    margin-left: -250px;
    font-size: 20px;
    color: red;
    transform: 0.5s;
}
.signin:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}