.Home{
    margin-right: 50px;
    color: red;
    font-size: 20px;
    transform: 0.5s;  
}
.Home:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.about{
    margin-right: 300px;
    font-size: 20px;
    color: red;
    transform: 0.5s;
}
.about:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.signin{
    margin-left: -250px;
    font-size: 20px;
    color: red;
    transform: 0.5s;
}
.signin:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.p1{
    color: black;
    font-size: 35px;
    transform: translateY(50px);
}
.cls1{
    width: 1400px;
    height: 800px;
   
}
.p2{
    color: black;
    font-size: 35px;
    margin-top: 90px;
}
.E60{
    width: 1400px;
    height: 800px;
    margin-top: 90px;
}
.p3{
    color: black;
    font-size: 35px;
    margin-top: 100px;
}
.Lamborghini{
    width: 1400px;
    height: 800px;
}
.p4{
    color: black;
    font-size: 35px;
    margin-top: 100px;
}
.Ferrari{
    width: 1400px;
    height: 800px;
}
.p5{
    color: black;
    font-size: 35px;
    margin-top: 100px; 
}
.dodge{
    width: 1400px;
    height: 800px;
}