.Home{
    margin-right: 50px;
    color: red;
    font-size: 20px;
    transform: 0.5s;  
}
.Home:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.about{
    margin-right: 300px;
    font-size: 20px;
    color: red;
    transform: 0.5s;
}
.about:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.signin{
    margin-left: -250px;
    font-size: 20px;
    color: red;
    transform: 0.5s;
}
.signin:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.BMW1{
    width: 900px;
    height: 900px;
    margin-left: -10px;
    
    
    
}
.BMW2{
    width: 1000px;
    height: 876px;
    transform: translateY(-880px);
    margin-left: 890px;
}
.BMW3{
    transform: translateY(-870px);
    width: 1100px;

}
.BMW4{
    transform: translateY(-890px);
    width: 1100px;
}
.BMW5{
    transform: translateY(-990px);
    width: 1100px;
}
.p1{
    transform:translateY(-850px);
    margin-right: 370px;
    font-size: 40px;
}
.p2{
    transform:translateY(-935px);
    margin-left: 140px;
    font-size: 40px;
    color: red;
}
.p3{
    transform:translateY(-935px);
    margin-right: 90px;
    font-size: 30px;
} 
.p4{
    transform:translateY(-840px);
    margin-right: 30px;
    font-size: 25px;
}
.p5{
    transform:translateY(-850px);
    margin-right: 40px;
    font-size: 25px;
}
.p6{
    transform:translateY(-860px);
    margin-right: 70px;
    font-size: 25px;
}
.p7{
    transform:translateY(-870px);
    margin-right:40px;
    font-size: 25px;
}
.p8{
    transform:translateY(-880px);
    margin-right:130px;
    font-size: 25px;
}
.p9{
    transform:translateY(-860px);
    margin-right:60px;
    font-size: 25px;
}
.p10{
    transform:translateY(-870px);
    margin-right:70px;
    font-size: 25px;
}
.p11{
    transform:translateY(-880px);
    margin-right:80px;
    font-size: 25px;
}
.p12{
    transform:translateY(-890px);
    margin-right:50px;
    font-size: 25px;
}
.p13{
    transform:translateY(-900px);
    margin-right:5px;
    font-size: 25px;
}
.p14{
    transform:translateY(-880px);
    margin-right:70px;
    font-size: 25px;
}
.p15{
    transform:translateY(-890px);
    margin-right:80px;
    font-size: 25px;
}
.p16{
    transform:translateY(-900px);
    margin-right:80px;
    font-size: 25px;
}
.p17{
    transform:translateY(-910px);
    margin-right:80px;
    font-size: 25px;
}
.p18{
    transform:translateY(-920px);
    margin-right:60px;
    font-size: 25px;
}
.p19{
    transform:translateY(-930px);
    margin-right:30px;
    font-size: 25px;
}
.p20{
    transform:translateY(-940px);
    margin-right:130px;
    font-size: 25px;
}
.p21{
    transform:translateY(-870px);
    margin-left:90px;
    font-size: 25px;
}
.p22{
    transform:translateY(-880px);
    margin-left:90px;
    font-size: 25px;
}
.p23{
    transform:translateY(-890px);
    margin-left:10px;
    font-size: 25px;
}
.p24{
    transform:translateY(-900px);
    margin-left:60px;
    font-size: 25px;
}
.p25{
    transform:translateY(-910px);
    margin-left:30px;
    font-size: 25px;
}
.p26{
    transform:translateY(-920px);
    margin-left:20px;
    font-size: 25px;
}
.p27{
    transform:translateY(-900px);
    margin-right:50px;
    font-size: 25px;
}
.p28{
    transform:translateY(-910px);
    margin-right:70px;
    font-size: 25px;
}
.p29{
    transform:translateY(-920px);
    margin-right:70px;
    font-size: 25px;
}
.p30{
    transform:translateY(-930px);
    margin-right:60px;
    font-size: 25px;
}
.p31{
    transform:translateY(-940px);
    margin-right:590px;
    font-size: 25px;
}
.p32{
    transform:translateY(-920px);
    margin-right:20px;
    font-size: 25px;
}
.p33{
    transform:translateY(-930px);
    margin-right:100px;
    font-size: 25px;
}
.p34{
    transform:translateY(-940px);
    margin-right:45px;
    font-size: 25px;
}
.p35{
    transform:translateY(-950px);
    margin-right:60px;
    font-size: 25px;
}
.p36{
    transform:translateY(-960px);
    margin-right:30px;
    font-size: 25px;
}
.p37{
    transform:translateY(-970px);
    margin-right:60px;
    font-size: 25px;
}
.p38{
    transform:translateY(-980px);
    margin-right:40px;
    font-size: 25px;
}
.p39{
    transform:translateY(-990px);
    margin-right:30px;
    font-size: 25px;
}
.p40{
    transform:translateY(-1000px);
    margin-right:520px;
    font-size: 25px;
}