.Home{
    margin-right: 50px;
    color: red;
    font-size: 20px;
    transform: 0.5s;  
}
.Home:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.about{
    margin-right: 300px;
    font-size: 20px;
    color: red;
    transform: 0.5s;
}
.about:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.signin{
    margin-left: -250px;
    font-size: 20px;
    color: red;
    transform: 0.5s;
}
.signin:hover{
    color: rgb(21, 126, 196);
    font-size: 25px;
}
.ferrari1{
    width: 1000px;
    margin-top: 40px;
    margin-left: -10px;
}
.ferrari2{
    width: 1000px;
    height: 751px;
    margin-left: 990px;
    transform: translateY(-755px);
}
.ferrari3{
    width: 1300px;
    height: 751px;
    margin-left: 450px;
    transform: translateY(-850px);
}
.p1{
    font-size: 35px;
    transform: translateY(-730px);
    margin-right: 90px;
}
.p2{
    font-size: 35px;
    transform: translateY(-803px);
    margin-left: 400px;
    color: red;
}
.p3{
    font-size: 30px;
    transform: translateY(-803px);
    margin-left: 200px;
}
.p4{
    font-size: 30px;
    transform: translateY(-820px);
    margin-left: 280px;
}
.p5{
    font-size: 25px;
    transform: translateY(-800px);
    margin-left: 200px;
}
.p6{
    font-size: 25px;
    transform: translateY(-810px);
    margin-left: 215px
}
.p7{
    font-size: 25px;
    transform: translateY(-820px);
    margin-left: 200px
}
.p8{
    font-size: 25px;
    transform: translateY(-830px);
    margin-left: 140px
}
.p9{
    font-size: 25px;
    transform: translateY(-840px);
    margin-right: 35px;
}
.p10{
    font-size: 25px;
    transform: translateY(-810px);
    margin-left: 180px;
}
.p11{
    font-size: 25px;
    transform: translateY(-820px);
    margin-left: 230px;
}
.p12{
    font-size: 25px;
    transform: translateY(-830px);
    margin-left: 195px;
}
.p13{
    font-size: 25px;
    transform: translateY(-840px);
    margin-left: 165px;
}
.p14{
    font-size: 25px;
    transform: translateY(-850px);
    margin-left: 155px;
}
.p15{
    font-size: 25px;
    transform: translateY(-860px);
    margin-left: 225px;
}
.p16{
    font-size: 25px;
    transform: translateY(-870px);
    margin-left: 130px;
}
.p17{
    font-size: 25px;
    transform: translateY(-880px);
    margin-left: 205px;
}
.p18{
    font-size: 25px;
    transform: translateY(-890px);
    margin-right: 490px;
}
.p19{
    font-size: 25px;
    transform: translateY(-860px);
    margin-left: 250px;
}
.p20{
    font-size: 25px;
    transform: translateY(-870px);
    margin-left: 220px;
}
.p21{
    font-size: 25px;
    transform: translateY(-880px);
    margin-left: 200px;
}
.p22{
    font-size: 25px;
    transform: translateY(-890px);
    margin-left: 245px;
}
.p23{
    font-size: 25px;
    transform: translateY(-900px);
    margin-left: 160px;
}
.p24{
    font-size: 25px;
    transform: translateY(-910px);
    margin-left: 220px;
}
.p25{
    font-size: 25px;
    transform: translateY(-920px);
    margin-right: 915px;
}
.p26{
    font-size: 25px;
    transform: translateY(-900px);
    margin-left: 263px;
}
.p27{
    font-size: 25px;
    transform: translateY(-910px);
    margin-left: 236px;
}
.p28{
    font-size: 25px;
    transform: translateY(-920px);
    margin-right: 720px;
}