@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #191919;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 162px;
}

.header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1C1C;
    padding: 20px 40px;
    border-radius: 50px;
    border: 1px solid rgb(65, 63, 63);
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-div a {
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 12px 24px;
}

.nav-div a:hover {
    background-color: #262626;
    border-radius: 50px;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button-div button {
    padding: 14px 30px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 70px;
    background-color: #1C1C1C;
    color: white;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
    display: none;

}

.dropbtn {
    background-color: #CAFF33;
    color: white;
    padding: 28px 55px;
    font-size: 16px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    background-image: url(./img/Vector\ \(Stroke\).png);
    background-repeat: no-repeat;
    background-position-x: 40px;
    background-position-y: 17px;
    background-size: 28px 20px;
}

.dropbtn:hover {
    background-color: #2980b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
    right: -60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section1 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 100px 162px;
    gap: 50px;
}

.section1-buuton {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #262626;
    padding: 10px 15px;
    border-radius: 61px;
    width: 357px;
}

.section1-buuton p {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.section1-div1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 30px;
}

.section1-div1 h1 {
    font-size: 48px;
    font-weight: 500;
    color: white;
    max-width: 825px;
    line-height: 80px;
}

.section1-div1 h1 span {
    color: #CAFF33;
}

.section1-div1 p {
    color: #E4E4E7;
    font-size: 18px;
    font-weight: 300;
    max-width: 825px;
}

.section1-div1 button {
    background-color: #CAFF33;
    padding: 18px 30px;
    color: #1C1C1C;
    font-size: 18px;
    font-weight: 400;
    border-radius: 82px;
    border: none;
}

.section1-div2 {
    display: flex;
}

.img1 {
    z-index: 1;
}

.arrow {
    position: absolute;
    right: 30px;
    top: 350px;

}

.section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 162px 150px;
    gap: 150px;
}

.section2-div1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}

.section2-div1 h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
}

.section2-div1 h1 span {
    color: #CAFF33;
}

.section2-div1 p {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 300;
    max-width: 910px;
}

.section2Buuton {
    display: flex;
    gap: 20px;
    width: 386px;
    height: 83px;
    border: 1px solid #1C1C1C;
    background-color: #262626;
    border-radius: 82px;
    align-items: center;
    justify-items: center;
    padding: 0px 10px;
}

.section2Buuton button {
    width: 181px;
    height: 55px;
    color: white;
    border-radius: 140px;
    border: none;
    background-color: #262626;
    font-size: 18px;
}

.section2-div2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.section2-info {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.section2-info h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.section2-info p {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 300;
    max-width: 465px;
    padding: 0px 30px;
}

.section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 162px;
}

.section3-title {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section3-title h1 {
    color: #CAFF33;
    font-size: 48px;
    font-weight: 500;

}

.section3-title p {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 300;
}

.section3-main1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 70px;
}

.section3-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    padding: 50px;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 20px;
}

.section3-info1 {
    width: 314px;
    height: 222px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A;
    border-radius: 16px;
}

.section3-info1 img {
    width: 78px;
}

.section3-info1 h2 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    max-width: 254px;
}

.gap-div {
    display: flex;
    gap: 20px;
}

.section3-box2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section3-box2 h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.section3-box2 p {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 300;
}

.procent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

.procent h1 {
    font-size: 58px;
    font-weight: 500;
    color: #CAFF33;
}

.procent p {
    font-size: 18px;
    font-weight: 300;
    color: #B3B3B3;
    max-width: 182px;
}

.section3-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.section3-box2 button {
    width: 150px;
    height: 63px;
    border-radius: 82px;
    padding: 18px 24px;
    background-color: #1C1C1C;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #262626;
}

.section4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 100px;
    gap: 80px;
}

.section4-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section4-title h1 {
    font-size: 48px;
    font-weight: 500;
    color: white;
}

.section4-title span {
    color: #CAFF33;
}

.section4-title p {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 300;
    max-width: 1296px;
}

.section4-main {
    width: 100%;
    display: flex;
    gap: 50px;
}

.section4-div1 {
    display: flex;
}

.section4-buutonDIV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 337px;
    gap: 30px;
    background-color: #1C1C1C;
    border-radius: 12px;
}

.section4-buutonDIV button {
    width: 208px;
    height: 63px;
    border-radius: 100px;
    border: none;
    background-color: #262626;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.section4-div1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.section4-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 272px;
    padding: 50px;
    background-color: #1C1C1C;
    gap: 30px;
    border-radius: 12px;
}

.section4-info div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.section4-box {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section4-info h2 {
    color: white;
    font-size: 22px;
    font-weight: 400;
}

.section4-info p {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 300;
    max-width: 514px;
}

.section5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 162px;
    gap: 50px;
}

.section5-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section5-title h1 {
    display: flex;
    font-size: 48px;
    font-weight: 500;
    color: #CAFF33;
    gap: 20px;
}

.section5-title span {
    color: white;
}

.section5-title p {
    font-size: 18px;
    font-weight: 300;
    color: #B3B3B3;
}

.section5-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.section5-div1 {
    display: flex;
    gap: 30px;
    width: 100%;
}

.section5-box1 {
    width: 784px;
    height: 348px;
    border: 1px solid #262626;
    border-radius: 14px;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section5-box1 h2 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #262626;
    padding-bottom: 30px;
}

.section5-box1 p {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 300;
    max-width: 683px;
}

.section5-main button {
    width: 193px;
    height: 63px;
    background-color: #1C1C1C;
    border: 1px solid #262626;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 400;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.section6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 162px;
    row-gap: 100px;
}

.section6-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section6-title h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
}

.section6-title h1 span {
    color: #CAFF33;
}

.section6-title p {
    font-size: 18px;
    font-weight: 300;
    max-width: 910px;
    color: #B3B3B3;
}

.section6-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.section5-box {
    width: 100%;
}

.section6-img1 {
    display: none;
}

.section6-img3 {
    display: none;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px 162px;
    background-color: #1C1C1C;
}

.footer-div1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.footer-div1 div {
    display: flex;
    gap: 20px;
}

.footer-div1 div a {
    text-decoration: none;
    color: #E4E4E7;
    font-size: 18px;
    font-weight: 400;

}

.footer-div2 {
    display: flex;
    gap: 50px;
    border-bottom: 1px solid #262626;
    border-top: 1px solid #262626;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    flex-wrap: wrap;
}

.footer-div2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer-div2 div p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.footer-div3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1A1A1A;
    border-radius: 100px;
    border: 1px solid #262626;
    padding: 10px 10px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.footer-div3 p {
    font-size: 18px;
    font-weight: 300;
    color: #B3B3B3;
}

.footer-pbox {
    width: 290px;
    height: 27px;
    display: flex;
    gap: 10px;
}

.footer-div1 img {
    width: 157px;
}

@media (max-width: 1500px) {
    .section1-div1 h1 {
        font-size: 38px;
        line-height: 60px;
        max-width: 600px;
    }

    .section1-div1 p {
        font-size: 16px;
        max-width: 649px;
    }

    .section1-div1 button {
        background-color: #CAFF33;
        padding: 18px 30px;
        color: #1C1C1C;
        font-size: 14px;
        font-weight: 400;
        border-radius: 82px;
        border: none;
    }

    .img1 {
        width: 400px;
    }

    .arrow {
        position: absolute;
        right: 65px;
        top: 320px;
        width: 300px;

    }

    .section2 {
        padding: 162px 80px;
    }

    .section2-div1 h1 {
        font-size: 38px;
    }

    .section2-div1 h1 span {
        color: #CAFF33;
    }

    .section2-div1 p {
        font-size: 16px;
        max-width: 831px;
    }

    .section2Buuton {
        display: flex;
        gap: 20px;
        width: 300px;
        height: 65px;
        border: 1px solid #1C1C1C;
        background-color: #262626;
        border-radius: 82px;
        align-items: center;
        justify-items: center;
        padding: 0px 10px;
    }

    .section2Buuton button {
        width: 139px;
        height: 41px;
        font-size: 14px;
    }

    .section2-info {
        width: 428px;
        height: 262px;
        gap: 20px;
    }

    .section2-info h2 {
        color: white;
        font-size: 20px;
    }

    .section2-info p {
        font-size: 15px;
        max-width: 420px;
    }

    .section3-box1 {
        width: 610px;
        height: 414px;
        padding: 30px;
    }

    .section3-info1 {
        width: 260px;
        height: 174px;
    }

    .section3-info1 img {
        width: 64px;
    }

    .section3-info1 h2 {
        font-size: 16px;
        max-width: 212px;
    }

    .section4-title h1 {
        font-size: 38px;
        font-weight: 500;
        color: white;
    }

    .section4-title p {
        color: #B3B3B3;
        font-size: 16px;
        font-weight: 300;
        max-width: 1030px;
    }

    .section4-buutonDIV {
        width: 245px;
        height: 267px;
        gap: 30px;
    }

    .section4-buutonDIV button {
        width: 165px;
        height: 49px;
        font-size: 14px;
    }

    .section4-info {
        width: 498px;
        height: 227px;
    }

    .section4-info h2 {
        font-size: 18px;
    }

    .section4-info p {
        color: #B3B3B3;
        font-size: 16px;
        font-weight: 300;
        max-width: 418px;
    }

    .section4-info img {
        width: 24px;
    }

    .section5-title h1 {
        font-size: 38px;
        max-width: 980px;
    }

    .section5-title p {
        font-size: 16px;
        font-weight: 300;
        color: #B3B3B3;
    }

    .section5-box1 {
        width: 629px;
        height: 295px;
    }

    .section5-box1 h2 {
        font-size: 18px;
    }

    .section5-box1 p {
        font-size: 18px;
        max-width: 550px;
    }

    .section5-main button {
        width: 155px;
        height: 49px;
        font-size: 14px;
    }

    .section5-main button img {
        width: 18px;
    }

    .section5 {
        padding: 100px 100px;
    }

    .section6-title h1 {
        font-size: 38px;
    }

    .section6-title p {
        font-size: 14px;
        font-weight: 300;
        max-width: 831px;
        color: #B3B3B3;
    }
}


@media (max-width: 1350px) {

    .nav-div a,
    .button-div {
        display: none;
    }

    .dropdown {
        display: block;

    }

    .section1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 150px;
    }

    .arrow {
        position: absolute;
        right: 320px;
        top: 950px;
        width: 300px;

    }

    .img1 {
        width: 500px;
    }

    .section2-div2 {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 150px;
    }

    .section3-main1 {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .section3-title {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .rotate1 {
        position: relative;
        top: 1000px;
    }

    .section3-main2 {
        position: relative;
        bottom: 400px;
    }

    .section4-div1 {
        flex-direction: column;
    }

    .section4-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section4-title {
        align-items: center;
        justify-content: center;
    }

    .section4-buutonDIV {
        width: 498px;
        display: flex;

    }

    .butonNone {
        display: none;
    }

    .section5-div1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section5-title {
        align-items: center;
    }

    .section5-title h1 {
        font-size: 35px;
    }

    .section6-title {
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section6 {
        padding: 100px 100px;
    }

    .footer-div3 {
        padding: 10px 10px;
        gap: 120px;
        justify-content: center;
        row-gap: 30px;
    }

    footer {
        padding: 100px 100px;
    }


}

@media (max-width: 700px) {
    header {
        padding: 50px 20px;
    }

    .YourBank {
        width: 130px;
    }

    .header-main {
        padding: 9px 20px;
    }

    .dropbtn {
        padding: 28px 45px;
        background-position-x: 30px;
        background-position-y: 17px;
        background-size: 28px 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 130px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: 1;
        right: -30px;
    }

    .section2 {
        padding: 162px 50px;
    }


    .section3-box1 {
        width: 320px;
        height: 370px;
        padding: 20px;
    }

    .section3-info1 {
        width: 130px;
        height: 160px;
    }

    .section3-info1 img {
        width: 64px;
    }

    .section3-info1 h2 {
        font-size: 14px;
        max-width: 126px;
    }

    .section3 {
        padding: 30px 50px;
    }

    .section3-info2 h1 {
        font-size: 40px;
    }

    .section4-buutonDIV {
        width: 498px;
        display: flex;

    }

    .butonNone {
        display: none;
    }

    .section4 {
        padding: 200px 50px;
    }

    .section4-buutonDIV {
        width: 450px;
        height: 150px;
        gap: 20px;
    }

    .section4-buutonDIV button {
        width: 90%;
        padding: 20px 20px;
    }

    .section4-info {
        width: 450px;
        height: 270px;
    }

    .section5-title {
        text-align: center;
    }

    .section5-title h1 {
        font-size: 28px;
        width: 357px;
        flex-direction: column;
    }

    .section5-title p {
        font-size: 14px;
        width: 357px;
    }

    .section5-box1 {
        width: 357px;
        height: 293px;
        padding: 20px 30px;
        gap: 10px;
    }

    .section5-box1 h2 {
        font-size: 18px;
    }

    .section5-box1 p {
        font-size: 14px;
        max-width: 550px;
    }

    .section5 {
        margin-top: -60px;
        padding: 0px 100px;
    }

    .section5-box {
        width: 100%;
        display: none;
    }

    .section6-img1 {
        display: none;
        display: block;
    }

    .section6-img2 {
        display: none;
    }

    .section6-img3 {
        display: block;
    }

    .section6-img4 {
        display: none;
    }

    .section6 {
        padding: 100px 50px;
    }

    footer {
        padding: 100px 50px;
    }
}

@media (max-width: 550px) {
    .section1-div1 {
        margin-top: -70px;
    }

    .section1-buuton {
        width: 300px;
    }

    .section1-buuton p {
        color: white;
        font-size: 12px;
        font-weight: 300;
    }

    .section1-div1 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section1-div1 h1 {
        font-size: 27px;
        line-height: 40px;
        max-width: 460px;
    }

    .section1-div1 p {
        font-size: 14px;
        max-width: 358px;
    }

    .arrow {
        position: absolute;
        right: -20px;
        top: 840px;
        width: 300px;

    }

    .img1 {
        width: 300px;
    }

    .section2 {
        padding: 162px 30px;
    }

    .section2 {
        margin-top: -150px;
    }

    .section2-div1 {
        text-align: center;

    }

    .section2-div1 h1 {
        font-size: 28px;
    }

    .section2-div1 h1 span {
        color: #CAFF33;
    }

    .section2-div1 p {
        font-size: 14px;
        max-width: 358px;
    }

    .section2-info {
        width: 338px;
        height: 262px;
        gap: 20px;
        text-align: center;
    }

    .section2-info img {
        width: 72px;
    }

    .section2-info h2 {
        color: white;
        font-size: 20px;
    }

    .section2-info p {
        font-size: 14px;
        max-width: 338px;
    }

    .section3-title h1 {
        font-size: 28px;
    }

    .section3-title p {
        font-size: 14px;
        width: 358px;
    }

    .section3-box2 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section3-box2 h1 {
        font-size: 20px;
    }

    .section3-box2 p {
        font-size: 14px;
    }

    .procent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section3-info2 {
        row-gap: 30px;
    }

    .section3-info2 h1 {
        font-size: 40px;
    }

    .section3-info2 p {
        font-size: 14px;
        max-width: 260px;
    }

    .section3 {
        margin-top: -50px;
    }

    .section3 {
        padding: 30px 30px;
    }

    .rotate1 {
        position: relative;
        top: 1180px;
    }

    .section3-main2 {
        position: relative;
        bottom: 700px;
    }

    .section4 {
        padding: 100px 30px;
    }

    .section4-title h1 {
        font-size: 28px;
    }

    .section4-title p {
        font-size: 14px;
        max-width: 366px;
    }

    .section4-buutonDIV {
        width: 330px;
        height: 212px;
    }

    .section4-info {
        width: 330px;
        height: 212px;
        padding: 20px 30px;
    }

    .section4-info h2 {
        font-size: 18px;
    }

    .section4-info p {
        font-size: 14px;
        width: 306px;
    }

    .section6 {
        padding: 100px 30px;
    }

    footer {
        padding: 100px 30px;
    }

    .footer-div1 img {
        width: 133px;
    }

    .footer-div2 {
        position: relative;
        height: 140px;
        padding: 100px 0px;
    }

    .footer-p1 {
        position: absolute;
        left: -10px;
        bottom: 120px;
    }

    .footer-p2 {
        position: absolute;
        left: 170px;
        bottom: 120px;
        width: 145px;
    }

    .footer-div1 div a {
        font-size: 14px;
    }

    .footer-div2 div p {
        font-size: 13px;
    }

    .footer-div2 div img {
        font-size: 20px;
    }

    .footer-div3 {
        width: 100%;
        border-radius: 12px;
        height: 162px;
        position: relative;
        row-gap: -50px;
        padding: 60px 20px;
    }

    .footer-div3 p {
        font-size: 14px;
    }

    .footer-div3 img {
        width: 44px;
    }

    .footer-imgBOX {
        position: absolute;
        top: -20px;
    }

}